<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	SIMSv1</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		EmploginServlet</display-name>
		<servlet-name>EmploginServlet</servlet-name>
		<servlet-class>com.ibm.controller.EmploginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateNewUserServlet</display-name>
		<servlet-name>CreateNewUserServlet</servlet-name>
		<servlet-class>com.ibm.controller.CreateNewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateServlet</display-name>
		<servlet-name>CreateServlet</servlet-name>
		<servlet-class>com.ibm.controller.CreateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangePasswordServlet</display-name>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.ibm.controller.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddNewSimServlet</display-name>
		<servlet-name>AddNewSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.AddNewSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.ibm.controller.SearchServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		SearchSim1Servlet</display-name>
		<servlet-name>SearchSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.SearchSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RequestSimServlet</display-name>
		<servlet-name>RequestSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.RequestSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AllocatedSimSearchServlet</display-name>
		<servlet-name>AllocatedSimSearchServlet</servlet-name>
		<servlet-class>com.ibm.controller.AllocatedSimSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DisableSimServlet</display-name>
		<servlet-name>DisableSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.DisableSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DisableSim1Servlet</display-name>
		<servlet-name>DisableSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.DisableSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EnableSimServlet</display-name>
		<servlet-name>EnableSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.EnableSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EnableSim1Servlet</display-name>
		<servlet-name>EnableSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.EnableSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateSimServlet</display-name>
		<servlet-name>UpdateSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.UpdateSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RequestNewSimServlet</display-name>
		<servlet-name>RequestNewSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.RequestNewSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RequestSimDetailsServlet</display-name>
		<servlet-name>RequestSimDetailsServlet</servlet-name>
		<servlet-class>com.ibm.controller.RequestSimDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AssignedSimSearchServlet</display-name>
		<servlet-name>AssignedSimSearchServlet</servlet-name>
		<servlet-class>com.ibm.controller.AssignedSimSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ReturnSim1Servlet</display-name>
		<servlet-name>ReturnSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.ReturnSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateSim1Servlet</display-name>
		<servlet-name>UpdateSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.UpdateSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RequestSim1</display-name>
		<servlet-name>RequestSim1</servlet-name>
		<servlet-class>com.ibm.controller.RequestSim1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ManagerPendingRequestsServlet</display-name>
		<servlet-name>ManagerPendingRequestsServlet</servlet-name>
		<servlet-class>com.ibm.controller.ManagerPendingRequestsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ManagerActionServlet</display-name>
		<servlet-name>ManagerActionServlet</servlet-name>
		<servlet-class>com.ibm.controller.ManagerActionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AdminPendingRequestsServlet</display-name>
		<servlet-name>AdminPendingRequestsServlet</servlet-name>
		<servlet-class>com.ibm.controller.AdminPendingRequestsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AdminActionServlet</display-name>
		<servlet-name>AdminActionServlet</servlet-name>
		<servlet-class>com.ibm.controller.AdminActionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckInactiveSimServlet</display-name>
		<servlet-name>CheckInactiveSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.CheckInactiveSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ReturnSim2Servlet</display-name>
		<servlet-name>ReturnSim2Servlet</servlet-name>
		<servlet-class>com.ibm.controller.ReturnSim2Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckInactiveSims2Servlet</display-name>
		<servlet-name>CheckInactiveSims2Servlet</servlet-name>
		<servlet-class>com.ibm.controller.CheckInactiveSims2Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckInactiveSims3Servlet</display-name>
		<servlet-name>CheckInactiveSims3Servlet</servlet-name>
		<servlet-class>com.ibm.controller.CheckInactiveSims3Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NotifyServlet</display-name>
		<servlet-name>NotifyServlet</servlet-name>
		<servlet-class>com.ibm.controller.NotifyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GenerateReportsServlet</display-name>
		<servlet-name>GenerateReportsServlet</servlet-name>
		<servlet-class>com.ibm.controller.GenerateReportsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Generate_ReportServlet</display-name>
		<servlet-name>Generate_ReportServlet</servlet-name>
		<servlet-class>com.ibm.controller.Generate_ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ActivateSimServlet</display-name>
		<servlet-name>ActivateSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.ActivateSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ActivateSim1Servlet</display-name>
		<servlet-name>ActivateSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.ActivateSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		InactivateSimServlet</display-name>
		<servlet-name>InactivateSimServlet</servlet-name>
		<servlet-class>com.ibm.controller.InactivateSimServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		InacticateSim1Servlet</display-name>
		<servlet-name>InacticateSim1Servlet</servlet-name>
		<servlet-class>com.ibm.controller.InacticateSim1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ReactivateServlet</display-name>
		<servlet-name>ReactivateServlet</servlet-name>
		<servlet-class>com.ibm.controller.ReactivateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeactivateServlet</display-name>
		<servlet-name>DeactivateServlet</servlet-name>
		<servlet-class>com.ibm.controller.DeactivateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GlobalSimSearchServlet</display-name>
		<servlet-name>GlobalSimSearchServlet</servlet-name>
		<servlet-class>com.ibm.controller.GlobalSimSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StatusServlet</display-name>
		<servlet-name>StatusServlet</servlet-name>
		<servlet-class>com.ibm.controller.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmploginServlet</servlet-name>
		<url-pattern>
		/Emplogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewUserServlet</servlet-name>
		<url-pattern>
		/CreateNewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateServlet</servlet-name>
		<url-pattern>
		/Create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>
		/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewSimServlet</servlet-name>
		<url-pattern>
		/AddNewSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>
		/SearchServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchSim1Servlet</servlet-name>
		<url-pattern>
		/SearchSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestSimServlet</servlet-name>
		<url-pattern>
		/RequestSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocatedSimSearchServlet</servlet-name>
		<url-pattern>
		/AllocatedSimSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisableSimServlet</servlet-name>
		<url-pattern>
		/DisableSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisableSim1Servlet</servlet-name>
		<url-pattern>
		/DisableSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnableSimServlet</servlet-name>
		<url-pattern>
		/EnableSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnableSim1Servlet</servlet-name>
		<url-pattern>
		/EnableSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSimServlet</servlet-name>
		<url-pattern>
		/UpdateSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestNewSimServlet</servlet-name>
		<url-pattern>
		/RequestNewSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestSimDetailsServlet</servlet-name>
		<url-pattern>
		/RequestSimDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedSimSearchServlet</servlet-name>
		<url-pattern>
		/AssignedSimSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnSim1Servlet</servlet-name>
		<url-pattern>
		/ReturnSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSim1Servlet</servlet-name>
		<url-pattern>
		/UpdateSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestSim1</servlet-name>
		<url-pattern>
		/RequestSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerPendingRequestsServlet</servlet-name>
		<url-pattern>
		/ManagerPendingRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerActionServlet</servlet-name>
		<url-pattern>
		/ManagerAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPendingRequestsServlet</servlet-name>
		<url-pattern>
		/AdminPendingRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminActionServlet</servlet-name>
		<url-pattern>
		/AdminAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckInactiveSimServlet</servlet-name>
		<url-pattern>
		/CheckInactiveSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnSim2Servlet</servlet-name>
		<url-pattern>
		/ReturnSim2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckInactiveSims2Servlet</servlet-name>
		<url-pattern>
		/CheckInactiveSims2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckInactiveSims3Servlet</servlet-name>
		<url-pattern>
		/CheckInactiveSims3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotifyServlet</servlet-name>
		<url-pattern>
		/Notify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateReportsServlet</servlet-name>
		<url-pattern>
		/GenerateReports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Generate_ReportServlet</servlet-name>
		<url-pattern>
		/Generate_Report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateSimServlet</servlet-name>
		<url-pattern>
		/ActivateSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateSim1Servlet</servlet-name>
		<url-pattern>
		/ActivateSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InactivateSimServlet</servlet-name>
		<url-pattern>
		/InactivateSim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InacticateSim1Servlet</servlet-name>
		<url-pattern>
		/InacticateSim1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReactivateServlet</servlet-name>
		<url-pattern>
		/Reactivate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeactivateServlet</servlet-name>
		<url-pattern>
		/Deactivate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GlobalSimSearchServlet</servlet-name>
		<url-pattern>
		/GlobalSimSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusServlet</servlet-name>
		<url-pattern>
		/Status</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login5.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>